/*
 * lsx-customizer.css
 */
body.lsx-hide-post-date.lsx-hide-post-author.lsx-hide-post-category.blog .wrap #primary #main > article .entry-meta,
body.lsx-hide-post-date.lsx-hide-post-author.lsx-hide-post-category.archive.date .wrap #primary #main > article .entry-meta,
body.lsx-hide-post-date.lsx-hide-post-author.lsx-hide-post-category.archive.tag .wrap #primary #main > article .entry-meta,
body.lsx-hide-post-date.lsx-hide-post-author.lsx-hide-post-category.archive.category .wrap #primary #main > article .entry-meta,
body.lsx-hide-post-date.lsx-hide-post-author.lsx-hide-post-category.archive.author .wrap #primary #main > article .entry-meta,
body.lsx-hide-post-date.lsx-hide-post-author.lsx-hide-post-category.archive.tax-post_format .wrap #primary #main > article .entry-meta,
body.lsx-hide-post-date.lsx-hide-post-author.lsx-hide-post-category.search .wrap #primary #main > article .entry-meta, body.lsx-hide-post-date.lsx-hide-post-author.lsx-hide-post-category.single-post .wrap #primary #main > article .entry-meta, body.lsx-hide-post-date.lsx-hide-post-author.lsx-hide-post-category.blog .wrap #primary #main > .infinite-wrap > article .entry-meta,
body.lsx-hide-post-date.lsx-hide-post-author.lsx-hide-post-category.archive.date .wrap #primary #main > .infinite-wrap > article .entry-meta,
body.lsx-hide-post-date.lsx-hide-post-author.lsx-hide-post-category.archive.tag .wrap #primary #main > .infinite-wrap > article .entry-meta,
body.lsx-hide-post-date.lsx-hide-post-author.lsx-hide-post-category.archive.category .wrap #primary #main > .infinite-wrap > article .entry-meta,
body.lsx-hide-post-date.lsx-hide-post-author.lsx-hide-post-category.archive.author .wrap #primary #main > .infinite-wrap > article .entry-meta,
body.lsx-hide-post-date.lsx-hide-post-author.lsx-hide-post-category.archive.tax-post_format .wrap #primary #main > .infinite-wrap > article .entry-meta,
body.lsx-hide-post-date.lsx-hide-post-author.lsx-hide-post-category.search .wrap #primary #main > .infinite-wrap > article .entry-meta, body.lsx-hide-post-date.lsx-hide-post-author.lsx-hide-post-category.single-post .wrap #primary #main > .infinite-wrap > article .entry-meta {
  display: none; }

body.blog .wrap #primary #main > article.lsx-hide-post-tags .post-tags-wrapper,
body.archive.date .wrap #primary #main > article.lsx-hide-post-tags .post-tags-wrapper,
body.archive.tag .wrap #primary #main > article.lsx-hide-post-tags .post-tags-wrapper,
body.archive.category .wrap #primary #main > article.lsx-hide-post-tags .post-tags-wrapper,
body.archive.author .wrap #primary #main > article.lsx-hide-post-tags .post-tags-wrapper,
body.archive.tax-post_format .wrap #primary #main > article.lsx-hide-post-tags .post-tags-wrapper,
body.search .wrap #primary #main > article.lsx-hide-post-tags .post-tags-wrapper, body.single-post .wrap #primary #main > article.lsx-hide-post-tags .post-tags-wrapper, body.blog .wrap #primary #main > .infinite-wrap > article.lsx-hide-post-tags .post-tags-wrapper,
body.archive.date .wrap #primary #main > .infinite-wrap > article.lsx-hide-post-tags .post-tags-wrapper,
body.archive.tag .wrap #primary #main > .infinite-wrap > article.lsx-hide-post-tags .post-tags-wrapper,
body.archive.category .wrap #primary #main > .infinite-wrap > article.lsx-hide-post-tags .post-tags-wrapper,
body.archive.author .wrap #primary #main > .infinite-wrap > article.lsx-hide-post-tags .post-tags-wrapper,
body.archive.tax-post_format .wrap #primary #main > .infinite-wrap > article.lsx-hide-post-tags .post-tags-wrapper,
body.search .wrap #primary #main > .infinite-wrap > article.lsx-hide-post-tags .post-tags-wrapper, body.single-post .wrap #primary #main > .infinite-wrap > article.lsx-hide-post-tags .post-tags-wrapper {
  display: none; }

body.lsx-body-full-width.blog .wrap #primary.col-sm-12,
body.lsx-body-full-width.archive.date .wrap #primary.col-sm-12,
body.lsx-body-full-width.archive.tag .wrap #primary.col-sm-12,
body.lsx-body-full-width.archive.category .wrap #primary.col-sm-12,
body.lsx-body-full-width.archive.author .wrap #primary.col-sm-12,
body.lsx-body-full-width.archive.tax-post_format .wrap #primary.col-sm-12,
body.lsx-body-full-width.search .wrap #primary.col-sm-12, body.lsx-body-full-width.single-post .wrap #primary.col-sm-12 {
  max-width: 100%; }
