@media (min-width: 768px) { .lsx-wc-checkout-layout-stacked .col2-set { clear: both; float: none; width: 100%; }
  .lsx-wc-checkout-layout-stacked .col2-set .col-1 { float: none; width: 100%; }
  .lsx-wc-checkout-layout-stacked .col2-set .col-1 .form-row-first { float: right; margin-left: 5.8823529412%; width: 41.1764705882%; }
  .lsx-wc-checkout-layout-stacked .col2-set .col-1 .form-row-last { float: left; margin-left: 0; width: 52.9411764706%; }
  .lsx-wc-checkout-layout-stacked .col2-set .col-2 { float: none; width: 100%; }
  .lsx-wc-checkout-layout-stacked .col2-set .col-2 .form-row-first { float: right; margin-left: 5.8823529412%; width: 41.1764705882%; }
  .lsx-wc-checkout-layout-stacked .col2-set .col-2 .form-row-last { float: left; margin-left: 0; width: 52.9411764706%; }
  .lsx-wc-checkout-layout-stacked #order_review_heading { clear: both; float: none; width: 100%; }
  .lsx-wc-checkout-layout-stacked #order_review { clear: both; float: none; width: 100%; }
  .lsx-wc-checkout-layout-stacked #primary:not([class*="-8"]) .col2-set { clear: both; float: none; width: 100%; }
  .lsx-wc-checkout-layout-stacked #primary:not([class*="-8"]) .col2-set .col-1 { float: none; width: 100%; }
  .lsx-wc-checkout-layout-stacked #primary:not([class*="-8"]) .col2-set .col-1 .form-row-first { float: right; margin-left: 4.347826087%; width: 47.8260869565%; }
  .lsx-wc-checkout-layout-stacked #primary:not([class*="-8"]) .col2-set .col-1 .form-row-last { float: left; margin-right: 0; margin-left: 0; width: 47.8260869565%; }
  .lsx-wc-checkout-layout-stacked #primary:not([class*="-8"]) .col2-set .col-2 { float: none; width: 100%; }
  .lsx-wc-checkout-layout-stacked #primary:not([class*="-8"]) .col2-set .col-2 .form-row-first { float: right; margin-left: 4.347826087%; width: 47.8260869565%; }
  .lsx-wc-checkout-layout-stacked #primary:not([class*="-8"]) .col2-set .col-2 .form-row-last { float: left; margin-right: 0; margin-left: 0; width: 47.8260869565%; }
  .lsx-wc-checkout-layout-stacked #primary:not([class*="-8"]) #order_review_heading { clear: both; float: none; width: 100%; }
  .lsx-wc-checkout-layout-stacked #primary:not([class*="-8"]) #order_review { clear: both; float: none; width: 100%; }
  .lsx-wc-checkout-layout-two-column-addreses .col2-set { width: 100%; float: none; }
  .lsx-wc-checkout-layout-two-column-addreses .col2-set:after { clear: both; content: ''; display: table; }
  .lsx-wc-checkout-layout-two-column-addreses .col2-set .col-1 { float: right; margin-left: 5.8823529412%; width: 41.1764705882%; }
  .lsx-wc-checkout-layout-two-column-addreses .col2-set .col-2 { float: left; margin-right: 0; margin-left: 0; width: 52.9411764706%; }
  .lsx-wc-checkout-layout-two-column-addreses .col2-set .form-row-first { float: none; margin-right: 0; margin-left: 0; width: 100%; }
  .lsx-wc-checkout-layout-two-column-addreses .col2-set .form-row-last { float: none; margin-right: 0; margin-left: 0; width: 100%; }
  .lsx-wc-checkout-layout-two-column-addreses #order_review_heading { float: none; width: 100%; }
  .lsx-wc-checkout-layout-two-column-addreses #order_review { float: none; width: 100%; }
  .lsx-wc-checkout-layout-two-column-addreses #primary:not([class*="-8"]) .col2-set { float: none; width: 100%; }
  .lsx-wc-checkout-layout-two-column-addreses #primary:not([class*="-8"]) .col2-set .col-1 { float: right; margin-left: 4.347826087%; width: 47.8260869565%; }
  .lsx-wc-checkout-layout-two-column-addreses #primary:not([class*="-8"]) .col2-set .col-2 { float: left; margin-right: 0; margin-left: 0; width: 47.8260869565%; }
  .lsx-wc-checkout-layout-two-column-addreses #primary:not([class*="-8"]) #order_review_heading { float: none; width: 100%; }
  .lsx-wc-checkout-layout-two-column-addreses #primary:not([class*="-8"]) #order_review { float: none; width: 100%; } }

.lsx-wc-checkout-steps { font-size: 18px; margin-bottom: 4.2rem; }

@media (max-width: 767px) { .lsx-wc-checkout-steps { display: none; } }

.lsx-wc-checkout-steps-items { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; list-style: none; margin-bottom: 0; padding-right: 0; }

.lsx-wc-checkout-steps-item { margin-left: 10px; white-space: nowrap; }

.lsx-wc-checkout-steps-item:last-child { margin-left: 0; }

.lsx-wc-checkout-steps-item .fa-check-circle { font-size: 30px; margin-left: 5px; vertical-align: middle; }

.lsx-wc-checkout-steps-item span { display: inline-block; line-height: 30px; vertical-align: middle; }

.lsx-wc-checkout-steps-item .fa-angle-right { font-size: 30px; margin-right: 10px; margin-left: 5px; vertical-align: middle; }

.lsx-wc-checkout-steps-counter { border-radius: 50%; display: inline-block; font-size: 16px; font-style: normal; height: 26px; line-height: 26px; margin-left: 5px; text-align: center; vertical-align: middle; width: 26px; }

@media (max-width: 991px) { .lsx-wc-checkout-steps-counter { display: none; } }

.lsx-wc-checkout-steps-link { display: inline-block; vertical-align: middle; }

.lsx-wc-checkout-steps-item { color: #418AD0; }

.lsx-wc-checkout-steps-item-current { color: #F7AE00; }

.lsx-wc-checkout-steps-item-disabled { color: #DADDDF; }

.lsx-wc-checkout-steps-counter { background-color: #418AD0; color: #FFF; }

.lsx-wc-checkout-steps-item-current .lsx-wc-checkout-steps-counter { background-color: #F7AE00; }

.lsx-wc-checkout-steps-item-disabled .lsx-wc-checkout-steps-counter { background-color: #DADDDF; }
