.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-default article.page .entry-content .woocommerce > * { max-width: 1020px; margin-left: auto; margin-right: auto; }

.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-two-column-addreses article.page .entry-content .woocommerce > * { max-width: 900px; margin-left: auto; margin-right: auto; }

@media (min-width: 992px) { .page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-stacked article.page { width: 750px !important; } }

.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-stacked article.page .col2-set { clear: both; float: none; width: 100%; }

.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-stacked article.page .col2-set .col-1 { float: none; width: 100%; }

.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-stacked article.page .col2-set .col-1 .form-row-first { float: left; margin-right: 5.8823529412%; width: 41.1764705882%; }

.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-stacked article.page .col2-set .col-1 .form-row-last { float: right; margin-right: 0; width: 52.9411764706%; }

.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-stacked article.page .col2-set .col-2 { float: none; width: 100%; }

.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-stacked article.page .col2-set .col-2 .form-row-first { float: left; margin-right: 5.8823529412%; width: 41.1764705882%; }

.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-stacked article.page .col2-set .col-2 .form-row-last { float: right; margin-right: 0; width: 52.9411764706%; }

.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-stacked article.page #order_review_heading { clear: both; float: none; width: 100%; }

.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-stacked article.page #order_review { clear: both; float: none; width: 100%; }

.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-stacked article.page #primary:not([class*="-8"]) .col2-set { clear: both; float: none; width: 100%; }

.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-stacked article.page #primary:not([class*="-8"]) .col2-set .col-1 { float: none; width: 100%; }

.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-stacked article.page #primary:not([class*="-8"]) .col2-set .col-1 .form-row-first { float: left; margin-right: 4.347826087%; width: 47.8260869565%; }

.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-stacked article.page #primary:not([class*="-8"]) .col2-set .col-1 .form-row-last { float: right; margin-left: 0; margin-right: 0; width: 47.8260869565%; }

.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-stacked article.page #primary:not([class*="-8"]) .col2-set .col-2 { float: none; width: 100%; }

.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-stacked article.page #primary:not([class*="-8"]) .col2-set .col-2 .form-row-first { float: left; margin-right: 4.347826087%; width: 47.8260869565%; }

.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-stacked article.page #primary:not([class*="-8"]) .col2-set .col-2 .form-row-last { float: right; margin-left: 0; margin-right: 0; width: 47.8260869565%; }

.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-stacked article.page #primary:not([class*="-8"]) #order_review_heading { clear: both; float: none; width: 100%; }

.page-template-default:not(.has-sidebar).woocommerce-page.lsx-wc-checkout-layout-stacked article.page #primary:not([class*="-8"]) #order_review { clear: both; float: none; width: 100%; }

article.page .lsx-wc-checkout-layout-stacked .col2-set { clear: both; float: none; width: 100%; }

article.page .lsx-wc-checkout-layout-stacked .col2-set .col-1 { float: none; width: 100%; }

article.page .lsx-wc-checkout-layout-stacked .col2-set .col-1 .form-row-first { float: left; margin-right: 5.8823529412%; width: 41.1764705882%; }

article.page .lsx-wc-checkout-layout-stacked .col2-set .col-1 .form-row-last { float: right; margin-right: 0; width: 52.9411764706%; }

article.page .lsx-wc-checkout-layout-stacked .col2-set .col-2 { float: none; width: 100%; }

article.page .lsx-wc-checkout-layout-stacked .col2-set .col-2 .form-row-first { float: left; margin-right: 5.8823529412%; width: 41.1764705882%; }

article.page .lsx-wc-checkout-layout-stacked .col2-set .col-2 .form-row-last { float: right; margin-right: 0; width: 52.9411764706%; }

article.page .lsx-wc-checkout-layout-stacked #order_review_heading { clear: both; float: none; width: 100%; }

article.page .lsx-wc-checkout-layout-stacked #order_review { clear: both; float: none; width: 100%; }

article.page .lsx-wc-checkout-layout-stacked #primary:not([class*="-8"]) .col2-set { clear: both; float: none; width: 100%; }

article.page .lsx-wc-checkout-layout-stacked #primary:not([class*="-8"]) .col2-set .col-1 { float: none; width: 100%; }

article.page .lsx-wc-checkout-layout-stacked #primary:not([class*="-8"]) .col2-set .col-1 .form-row-first { float: left; margin-right: 4.347826087%; width: 47.8260869565%; }

article.page .lsx-wc-checkout-layout-stacked #primary:not([class*="-8"]) .col2-set .col-1 .form-row-last { float: right; margin-left: 0; margin-right: 0; width: 47.8260869565%; }

article.page .lsx-wc-checkout-layout-stacked #primary:not([class*="-8"]) .col2-set .col-2 { float: none; width: 100%; }

article.page .lsx-wc-checkout-layout-stacked #primary:not([class*="-8"]) .col2-set .col-2 .form-row-first { float: left; margin-right: 4.347826087%; width: 47.8260869565%; }

article.page .lsx-wc-checkout-layout-stacked #primary:not([class*="-8"]) .col2-set .col-2 .form-row-last { float: right; margin-left: 0; margin-right: 0; width: 47.8260869565%; }

article.page .lsx-wc-checkout-layout-stacked #primary:not([class*="-8"]) #order_review_heading { clear: both; float: none; width: 100%; }

article.page .lsx-wc-checkout-layout-stacked #primary:not([class*="-8"]) #order_review { clear: both; float: none; width: 100%; }

article.page .lsx-wc-checkout-layout-two-column-addreses .col2-set { width: 100%; float: none; }

article.page .lsx-wc-checkout-layout-two-column-addreses .col2-set:after { clear: both; content: ""; display: table; }

article.page .lsx-wc-checkout-layout-two-column-addreses .col2-set .col-1 { float: left; margin-right: 5.8823529412%; width: 41.1764705882%; }

article.page .lsx-wc-checkout-layout-two-column-addreses .col2-set .col-2 { float: right; margin-left: 0; margin-right: 0; width: 52.9411764706%; }

article.page .lsx-wc-checkout-layout-two-column-addreses .col2-set .form-row-first { float: none; margin-left: 0; margin-right: 0; width: 100%; }

article.page .lsx-wc-checkout-layout-two-column-addreses .col2-set .form-row-last { float: none; margin-left: 0; margin-right: 0; width: 100%; }

article.page .lsx-wc-checkout-layout-two-column-addreses.lsx-wc-checkout-two-steps .woocommerce { max-width: 900px !important; margin-left: auto; margin-right: auto; }

article.page .lsx-wc-checkout-layout-two-column-addreses.lsx-wc-checkout-two-steps .checkout .lsx-checkout-slides { max-width: 900px; margin-left: auto; margin-right: auto; }

article.page .lsx-wc-checkout-layout-two-column-addreses #order_review_heading { float: none; width: 100%; }

article.page .lsx-wc-checkout-layout-two-column-addreses #order_review { float: none; width: 100%; }

article.page .lsx-wc-checkout-layout-two-column-addreses #primary:not([class*="-8"]) .col2-set { float: none; width: 100%; }

article.page .lsx-wc-checkout-layout-two-column-addreses #primary:not([class*="-8"]) .col2-set .col-1 { float: left; margin-right: 4.347826087%; width: 47.8260869565%; }

article.page .lsx-wc-checkout-layout-two-column-addreses #primary:not([class*="-8"]) .col2-set .col-2 { float: right; margin-left: 0; margin-right: 0; width: 47.8260869565%; }

article.page .lsx-wc-checkout-layout-two-column-addreses #primary:not([class*="-8"]) #order_review_heading { float: none; width: 100%; }

article.page .lsx-wc-checkout-layout-two-column-addreses #primary:not([class*="-8"]) #order_review { float: none; width: 100%; }

.lsx-wc-checkout-steps { font-size: 18px; margin-bottom: 4.2rem; }

.lsx-wc-checkout-steps-items { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; list-style: none; margin-bottom: 0; padding-left: 0; }

.lsx-wc-checkout-steps-item { margin-right: 10px; white-space: nowrap; }

.lsx-wc-checkout-steps-item:last-child { margin-right: 0; }

.lsx-wc-checkout-steps-item .fa-check-circle { font-size: 30px; margin-right: 5px; vertical-align: middle; }

@media (max-width: 767px) { .lsx-wc-checkout-steps-item .fa-check-circle { border-radius: 50%; line-height: 35px; height: 35px; position: relative; text-align: center; width: 35px; }
  .lsx-wc-checkout-steps-item .fa-check-circle:before { position: relative; z-index: 2; }
  .lsx-wc-checkout-steps-item .fa-check-circle:after { border-radius: 50%; content: ""; height: 21px; left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 21px; z-index: 1; } }

.lsx-wc-checkout-steps-item > span, .lsx-wc-checkout-steps-item a > span { display: inline-block; line-height: 30px; vertical-align: middle; }

@media (max-width: 767px) { .lsx-wc-checkout-steps-item > span span, .lsx-wc-checkout-steps-item a > span span { display: none; } }

@media (max-width: 767px) { .lsx-wc-checkout-steps-item:not(.lsx-wc-checkout-steps-item-done) .fa-check-circle { display: none; }
  .lsx-wc-checkout-steps-item:not(.lsx-wc-checkout-steps-item-done) > span, .lsx-wc-checkout-steps-item:not(.lsx-wc-checkout-steps-item-done) a > span { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
  .lsx-wc-checkout-steps-item:not(.lsx-wc-checkout-steps-item-done) > span:before, .lsx-wc-checkout-steps-item:not(.lsx-wc-checkout-steps-item-done) a > span:before { border-radius: 50%; display: inline-block; font-size: 90%; height: 35px; line-height: 35px; text-align: center; width: 35px; } }

.lsx-wc-checkout-steps-item .fa-angle-right { font-size: 30px; margin-left: 10px; margin-right: 5px; vertical-align: middle; }

@media (max-width: 767px) { .lsx-wc-checkout-steps-item-cart:not(.lsx-wc-checkout-steps-item-done) > span:before, .lsx-wc-checkout-steps-item-cart:not(.lsx-wc-checkout-steps-item-done) a > span:before { content: "\f291"; } }

@media (max-width: 767px) { .lsx-wc-checkout-steps-item-payment:not(.lsx-wc-checkout-steps-item-done) > span:before, .lsx-wc-checkout-steps-item-payment:not(.lsx-wc-checkout-steps-item-done) a > span:before { content: "\f09d"; } }

@media (max-width: 767px) { .lsx-wc-checkout-steps-item-thankyou:not(.lsx-wc-checkout-steps-item-done) > span:before, .lsx-wc-checkout-steps-item-thankyou:not(.lsx-wc-checkout-steps-item-done) a > span:before { content: "\f118"; } }

.lsx-wc-checkout-steps-counter { border-radius: 50%; display: inline-block; font-size: 16px; font-style: normal; height: 26px; line-height: 26px; margin-right: 5px; text-align: center; vertical-align: middle; width: 26px; }

@media (max-width: 991px) { .lsx-wc-checkout-steps-counter { display: none; } }

.lsx-wc-checkout-steps-link { display: inline-block; vertical-align: middle; }

.lsx-wc-cart-extra-html { margin-bottom: 4.25rem; width: 100%; }

@media (min-width: 768px) { .lsx-wc-cart-extra-html { float: left; margin-bottom: 0; width: 48%; } }

.lsx-wc-my-account-menu-item > a:after { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f007"; float: right; font-size: 20px; margin-left: 2rem; }

#top-menu .lsx-wc-my-account-menu-item > a:after { margin-left: 1.2rem; }

.lsx-wc-my-account-menu-item.lsx-wc-my-account-menu-item-simple > a:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f007"; float: right; font-size: 20px; margin-right: 0.5rem; }

#top-menu .lsx-wc-my-account-menu-item.lsx-wc-my-account-menu-item-simple > a:before { float: none; margin-right: 0; }

@media (min-width: 1200px) { .lsx-wc-my-account-menu-item.lsx-wc-my-account-menu-item-simple > a:after, .lsx-wc-my-account-menu-item.lsx-wc-my-account-menu-item-simple > a span { display: none; } }

@media (min-width: 1200px) { .lsx-wc-my-account-menu-item.lsx-wc-my-account-menu-item-right-aligned { margin-left: auto; } }

@media (min-width: 1200px) { .lsx-wc-my-account-menu-item.lsx-wc-my-account-menu-item-right-aligned + .lsx-wc-cart-menu-item-right-aligned { margin-left: 0; } }

.lsx-wc-my-account-menu-item.lsx-wc-my-account-login > a:after { content: "\f090"; }

.lsx-wc-my-account-menu-item.lsx-wc-my-account-login.lsx-wc-my-account-menu-item-simple > a:before { content: "\f090"; }

.lsx-wc-my-account-menu-item-simple ul.lsx-wc-my-account-sub-menu { display: none !important; }

.checkout.lsx-wc-checkout-distraction-free #masthead > .container { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.checkout.lsx-wc-checkout-distraction-free #masthead > .container .primary-navbar, .checkout.lsx-wc-checkout-distraction-free #masthead > .container #searchform { display: none !important; }

.checkout.lsx-wc-checkout-distraction-free .breadcrumbs-container, .checkout.lsx-wc-checkout-distraction-free #top-menu, .checkout.lsx-wc-checkout-distraction-free .checkout-cta-bottom, .checkout.lsx-wc-checkout-distraction-free .lsx-wc-checkout-steps { display: none; }

.checkout.lsx-wc-checkout-distraction-free.using-gutenberg #primary .entry-content { padding-top: 0; }

.checkout.lsx-wc-checkout-distraction-free:not(.using-gutenberg) #primary { margin-top: 0; }

.checkout.lsx-wc-checkout-two-steps .woocommerce { margin-bottom: 8.4rem; }

.checkout.lsx-wc-checkout-two-steps .lsx-checkout-slides { margin: 0; padding: 0; margin-bottom: 8.4rem; }

.checkout.lsx-wc-checkout-two-steps .lsx-checkout-slides .lsx-two-step-checkout { clear: both; margin-left: 0; padding-left: 0; }

.checkout.lsx-wc-checkout-two-steps .lsx-checkout-slides .lsx-two-step-checkout .col2-set, .checkout.lsx-wc-checkout-two-steps .lsx-checkout-slides .lsx-two-step-checkout #order_review { width: 100%; }

.checkout.lsx-wc-checkout-two-steps .lsx-checkout-slides .lsx-two-step-checkout > li:not(:first-child) { display: none; -webkit-backface-visibility: hidden; }

.checkout.lsx-wc-checkout-two-steps .lsx-checkout-slides .lsx-two-step-checkout > li:not(.flex-active-slide) { display: none !important; }

.checkout.lsx-wc-checkout-two-steps .lsx-checkout-slides .lsx-two-step-checkout #order_review_heading { display: none; }

.checkout.lsx-wc-checkout-two-steps .lsx-checkout-slides .lsx-two-step-checkout .order-review #order_review_heading { display: block; width: 100%; }

.checkout.lsx-wc-checkout-two-steps .lsx-checkout-slides .lsx-checkout-control-nav { margin-left: 0; text-align: center; padding: 1em 0 3.632em; margin-bottom: 2.618em; }

.checkout.lsx-wc-checkout-two-steps .lsx-checkout-slides .lsx-checkout-control-nav li:first-child a:before { content: ""; display: block; height: 4px; width: 50%; position: absolute; bottom: -1.1em; right: 0; }

.checkout.lsx-wc-checkout-two-steps .lsx-checkout-slides .lsx-checkout-control-nav li:nth-child(2) a:before { content: ""; display: block; height: 4px; width: 50%; position: absolute; bottom: -1.1em; left: 0; }

.checkout.lsx-wc-checkout-two-steps .lsx-checkout-slides .lsx-checkout-control-nav li:nth-child(2) a:before { background-color: #ebebeb; }

.checkout.lsx-wc-checkout-two-steps .lsx-checkout-slides .lsx-checkout-control-nav li:nth-child(2) a.flex-active:before { background-color: #d7d7d7; }

.checkout.lsx-wc-checkout-two-steps .lsx-checkout-slides .lsx-checkout-control-nav li { display: inline-block; margin: 0 -2px; position: relative; width: 50%; }

.checkout.lsx-wc-checkout-two-steps .lsx-checkout-slides .lsx-checkout-control-nav li:before { display: block; font-weight: 700; }

.checkout.lsx-wc-checkout-two-steps .lsx-checkout-slides .lsx-checkout-control-nav li a:after { display: block; content: ""; width: 1em; height: 1em; position: absolute; bottom: -1.5em; left: 50%; margin-left: -0.5em; border-radius: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #ffffff; border: 4px solid #d7d7d7; }

.checkout.lsx-wc-checkout-two-steps .lsx-checkout-slides .lsx-checkout-control-nav li a:before { background-color: #d7d7d7; }

.checkout.lsx-wc-checkout-two-steps .lsx-checkout-slides .lsx-checkout-control-nav li a { cursor: default; color: inherit; }

.checkout.lsx-wc-checkout-two-steps .lsx-checkout-slides .flex-disabled { display: none !important; }

.checkout.lsx-wc-checkout-two-steps .flex-direction-nav { margin: 1rem 0; clear: both; position: relative; z-index: 9; padding: 0; }

.checkout.lsx-wc-checkout-two-steps .flex-direction-nav li { list-style: none; }

.checkout.lsx-wc-checkout-two-steps .flex-direction-nav li a { width: 100%; }

.checkout.lsx-wc-checkout-two-steps .flex-direction-nav li:first-child { float: left; }

.checkout.lsx-wc-checkout-two-steps .flex-direction-nav li:first-child a:before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f30a"; margin-right: 0.53em; }

.checkout.lsx-wc-checkout-two-steps .flex-direction-nav li:nth-child(2) { float: right; }

.checkout.lsx-wc-checkout-two-steps .flex-direction-nav li:nth-child(2) a:after { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f30b"; margin-left: 0.53em; }

.checkout.lsx-wc-checkout-two-steps .flex-direction-nav a { cursor: pointer; }

.content-area .lsx-wc-checkout-steps .lsx-wc-checkout-steps-item { color: #6baf21; }

@media (max-width: 767px) { .content-area .lsx-wc-checkout-steps .lsx-wc-checkout-steps-item.lsx-wc-checkout-steps-item-done .fa-check-circle { background-color: #6baf21; }
  .content-area .lsx-wc-checkout-steps .lsx-wc-checkout-steps-item.lsx-wc-checkout-steps-item-done .fa-check-circle:after { background-color: #fff; } }

@media (max-width: 767px) { .content-area .lsx-wc-checkout-steps .lsx-wc-checkout-steps-item:not(.lsx-wc-checkout-steps-item-done) > span:before, .content-area .lsx-wc-checkout-steps .lsx-wc-checkout-steps-item:not(.lsx-wc-checkout-steps-item-done) a > span:before { background-color: #418ad0; color: #fff; } }

.content-area .lsx-wc-checkout-steps .lsx-wc-checkout-steps-item.lsx-wc-checkout-steps-item-current { color: #418ad0; }

@media (max-width: 767px) { .content-area .lsx-wc-checkout-steps .lsx-wc-checkout-steps-item.lsx-wc-checkout-steps-item-current > span:before, .content-area .lsx-wc-checkout-steps .lsx-wc-checkout-steps-item.lsx-wc-checkout-steps-item-current a > span:before { background-color: #418ad0; } }

.content-area .lsx-wc-checkout-steps .lsx-wc-checkout-steps-item.lsx-wc-checkout-steps-item-disabled { color: #dadddf; }

.content-area .lsx-wc-checkout-steps .lsx-wc-checkout-steps-item.lsx-wc-checkout-steps-item-disabled .lsx-wc-checkout-steps-counter { background-color: #dadddf; }

@media (max-width: 767px) { .content-area .lsx-wc-checkout-steps .lsx-wc-checkout-steps-item.lsx-wc-checkout-steps-item-disabled > span:before, .content-area .lsx-wc-checkout-steps .lsx-wc-checkout-steps-item.lsx-wc-checkout-steps-item-disabled a > span:before { background-color: #dadddf; } }

.content-area .lsx-wc-checkout-steps .lsx-wc-checkout-steps-counter { background-color: #418ad0; color: #fff; }

.lsx-wc-checkout-steps-item-current .content-area .lsx-wc-checkout-steps .lsx-wc-checkout-steps-counter { background-color: #f7ae00; }

.lsx-wc-checkout-steps-item-disabled .content-area .lsx-wc-checkout-steps .lsx-wc-checkout-steps-counter { background-color: #dadddf; }

.content-area .lsx-wc-checkout-steps .lsx-wc-checkout-steps-link, .content-area .lsx-wc-checkout-steps a.lsx-wc-checkout-steps-link:not(.btn):not(.wp-block-button__link) { color: #6baf21; }

@media (max-width: 767px) { .content-area .lsx-wc-checkout-steps .lsx-wc-checkout-steps-link:hover, .content-area .lsx-wc-checkout-steps .lsx-wc-checkout-steps-link:focus, .content-area .lsx-wc-checkout-steps a.lsx-wc-checkout-steps-link:not(.btn):not(.wp-block-button__link):hover, .content-area .lsx-wc-checkout-steps a.lsx-wc-checkout-steps-link:not(.btn):not(.wp-block-button__link):focus { color: #418ad0 !important; } }

.lsx-block-accordion details summary:before { color: #418ad0; }

/*# sourceMappingURL=maps/lsx-customizer.css.map */
