@mixin customizer-customizer-body-colours($bg: #F6F6F6, $breaker: #DADDDF, $color: #4A4A4A, $link: #418AD0, $hover: #F7AE00, $small: #919191) {
	.lsx-wc-checkout-steps-item { color: $link; }

	.lsx-wc-checkout-steps-item-current { color: $hover; }

	.lsx-wc-checkout-steps-item-disabled { color: $breaker; }

	.lsx-wc-checkout-steps-counter {
		background-color: $link;
		color: #FFF;

		.lsx-wc-checkout-steps-item-current & { background-color: $hover; }
		.lsx-wc-checkout-steps-item-disabled & { background-color: $breaker; }
	}
}
